html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.menu {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.menu-logo {
    height: 65px;
    width: 130px;
    margin: 20px;
}
.menu-text {
    width: 115px;
    height: 20px;
    transform: rotate(270deg);
    font-family: Optima;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}
.menu-iconBorder {
    border: 1px solid #f1f1f1;
    padding: 50px;
    cursor: pointer;
}
.content {

    background-image: url("img/porsch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex-grow: 1;
}
.topLine {
    font-family: Optima;
    letter-spacing: 1.7px;
    color: whitesmoke;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topLine-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topLine-items {
    margin-right: 50px;
}
.extra {
    margin-left: auto;
    height: 51px;
    width: 160px;
    border: 1px solid #2f2a2a;
    background-color: #2f2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forThisCar {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: Optima;
    justify-content: center;
    align-items: center;
}
.forThisCar-price {
    margin-top: 160px;
    font-size: 14px;
}
.forThisCar-model {
    margin-top: 20px;
    font-size: 60px;
}
.forThisCar-auto {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.characteristics {
    padding: 0 60px;
}
.characteristics:nth-child(2) {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}
.characteristics-topText {
    font-size: 30px;
}
.characteristics-bottomText {
    font-size: 14px;
}